* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
}
header {
  height: 40vh;
  display: grid;
  place-content: center;
}
h1 {
  color: cadetblue;
}
input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  width: 15vw;
}



@media screen and (max-width: 768px) {
  input {
    width: 50%;
  }
  .person {
    text-align: center;
    display: block;
  }
}
