.searchDiv {
    text-align: right;
    margin-right: 10px;
}

#search {
    width: 20vw;
}


@media screen and (max-width: 992px) {
    #search {
        width: 30vw;
    }
}
@media screen and (max-width: 768px) {
    #search {
        width: 50vw;
    }
}